# Clerk configuration, get this key from your [Dashboard](dashboard.clerk.com)
VITE_CLERK_PUBLISHABLE_KEY=

# Convex configuration, get this URL from your [Dashboard](dashboard.convex.dev)
CONVEX_DEPLOYMENT=
VITE_CONVEX_URL=
VITE_CONVEX_SITE_URL=

# PostHog configuration, get your key from https://app.posthog.com/project/settings
VITE_POSTHOG_PROJECT_TOKEN=
VITE_POSTHOG_HOST=